body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}
.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}