:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  background-color: #001529 !important;
}

.nav-link {
  color: white !important;
  font-size: 16px;
  font-weight: 400;
}

.sweet-loading {
  z-index: 1000;
  position: absolute;
  top: 50%;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}